* {
  box-sizing: border-box;
}

.style_window {
        display:inline-block;
        background-color: rgb(159, 255, 155);
        font-family: cursive;
        width: 800px; 
        height: 600px;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin: auto;
        
         }


  .hat {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 800px;
    height: 70px;
    border-left: 2px solid black;
    border-right: 2px solid black;
    border-top: 2px solid black;
        
       }

    .close {
     position: absolute;
     top: 10px;
     right: 10px;
     cursor: pointer;
    }

    .headline {   
      display: flex;
      font-weight: bolder;
      font-size: 20px;
      position: relative;
      left: 10px;
    }

    .created_dialog {
      display: flex;
      flex-direction: row;
      font-size: 14px;
    }

    .created_name {
        display:inline-flex;
        position: relative;
        left: 10px;


    }

    .created_time  {
        display:inline-flex;
        position: relative;
        left: 30px;
       
    }

    .flex-container  {
      display: flex;
      flex-direction: column;      
      width: 800px;
      height: 530px;
      overflow: auto;
      background-color: rgb(110, 250, 110);
      border: 2px solid black;

    }

    .dialog {
        display: flex;
        height: max-content;
        }

    .left_content {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        width: 150px;
        }

    .sender {
        display: inline-flex;
        justify-content: space-around;
        align-items: center;
        position: relative;
        width: 50px;
    height: 50px;
    border: 1px solid rgb(58, 4, 255);
    border-radius: 50%;
    background-color:  rgb(159, 255, 155);
    font-size: 18px;
    
        }


    .departure_time  {
        display: inline-flex;
        font-size: 14px;
         }

    .right_content {
        display: flex;
        flex-direction: column;
        position: relative;            
        top: 10px;
        bottom: 20px;
        padding-bottom: 10px;  
        border-left: 1px solid black;
            
      }

    .name {
        display: flex;
        padding-bottom: 10px;
        position:relative;
        left: 15px;
        font-size: 14px;
        text-align: left;
    }

    .messages {
        display: flex;
        padding-bottom: 10px;
        position:relative;
        left: 15px;
    width: 570px;
    border: 1px solid rgb(58, 4, 255);
    background-color: rgb(136, 247, 136);
    border-radius: 7px;
    text-align: left;
    
    }
  